---
import Layout from "../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const posts: CollectionEntry<"blog">[] = await getCollection("blog");
console.log(posts.map((post) => post.data.created_at));
---

<Layout>
  <ul>
    {
      posts.map((post) => (
        <li>
          <div>
            <a href={`/posts/${post.id}`}>{post.data.title}</a>
            <time datetime={post.data.created_at}>{post.data.created_at}</time>
            <div>{post.data.abstract}</div>
          </div>
        </li>
      ))
    }
  </ul>
</Layout>
