---
type Props = {
  id: string;
  title: string;
  published_at: string;
  abstract: string;
};

const { title, published_at, abstract, id } = Astro.props as Props;

const createAtDate = new Date(published_at);
const formatter = new Intl.DateTimeFormat(undefined, {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<div class="flex flex-col gap-2 my-10">
  <a href={`/posts/${id}`} class="text-2xl font-bold block">{title}</a>
  <time datetime={published_at} class="block text-base-600">
    {formatter.format(createAtDate)}
  </time>
  <div class="my-4">{abstract}</div>
  <div class="flex">
    <a role="button" href={`/posts/${id}`} class="btn btn-soft">Read more</a>
  </div>
</div>
