---
type Props = {
  id: string;
  title: string;
  created_at: string;
  abstract: string;
};

const { title, created_at, abstract, id } = Astro.props as Props;

const createAtDate = new Date(created_at);
const formatter = new Intl.DateTimeFormat(undefined, {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<div class="flex flex-col gap-1.5 mt-6 mb-6">
  <a href={`/posts/${id}`} class="text-2xl font-bold block italic">{title}</a>
  <time datetime={created_at} class="block text-gray-600">
    {formatter.format(createAtDate)}
  </time>
  <div>{abstract}</div>
  <a href={`/posts/${id}`} class="text-blue-500 hover:underline">Read more</a>
</div>
